html {
    overflow-x: hidden;
}

body {
    height: 100vh;
    margin: 0;
}

body {
    display: flex !important;
    flex-direction: column !important;
}

#container-vertical-center {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
}

#vertical-align {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer {
    margin-top: auto !important;
}
